.inputfield{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 30vw;
    text-align: center;
}
h1{
    margin-bottom: 0.5rem;
}
input{
    outline: 2px solid black;
    border: none;
    font-size: 1.5rem;
    height: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    transition: outline ease-in-out 300ms, transform 150ms ease;
    width: 30vw;
}
input:focus{
    outline: 2px solid #ee7a05;
}
button {
    display: inline-block;
    border: none;
    padding: 0.5rem 1rem;
    transform: translateY(3px);
    margin: 0;
    text-decoration: none;
    background: #ee7a05;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: auto;
    margin-top: 5px;
    width: 10vw;
}
button:hover,
button:focus {
    background: #a15203;
}
button:focus {
    outline: 2px solid black;
}
.nosuchsystem{
    display: none;
}
.suggestion{
    position: absolute;
}
.main{
    text-align: center;
}
.systeminfo, .bodyinfo, .nosuchsystem{
    background-color: #263238;
    padding-left: 20px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.bodyname{
    font-size: 1.1rem;
}
.bodynametag, .bodyname{
    display: inline-block;
}
.bodynametag{
    margin-left: 10px;
}
@media (max-width:1000px) {
    .systeminfo, .bodyinfo, .nosuchsystem{
        width: 90vw;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        width: 60vw;
    }
    .inputfield{
        width: auto;
        display: block;
    }
    button{
        width: auto;
        display: block;
    }
}
body{
	font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;		
	margin: 0;
	color: white;
	background: linear-gradient(90deg,rgba(55,71,79,0),rgba(55, 71, 79, 0.7),rgba(55, 71, 79, 0.7),rgba(55,71,79,0)),url(bg1.jpg);
	background-attachment: fixed;
	}
	@media (max-width:900px){
		body{
			background: url(bg1.jpg);
			background-attachment: fixed;
		}
	}