.body-container {
    background-color: black;
    padding-top: 4px;
}

.body-title {
    display: flex;
    gap: 4px;
    padding: 8px;
    align-items: center;
    background-color: #393939;
}

.system-body {
    display: flex;
    gap: 8px;
    background-color: #797979;
    padding: 4px;

    .body-image {
        display: flex;
        width: 96px;
        height: 96px;
        justify-content: center;
        align-items: center;
        background-color: black;

        img {
            width: 90px;
            height: 90px;
        }
    }

    .body-content {
        flex-grow: 1;
        padding: 8px;
    }

    .body-data {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        max-width: 700px;

        .body-data-entry {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            flex-basis: calc(50% - 12px);
            min-width: 250px;
        }
    }

    .body-signals {
        .body-signal {
            display: flex;
            align-items: flex-start;
            gap: 12px;

            .body-signal-name {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.badge-orange {
    background-color: orange;
}

.badge-blue {
    color: #1c1c1c;
    background-color: #9bb9cb;
}

.badge-gray {
    color: #1c1c1c;
    background-color: #d7d7d7;
}   

.body-signal-data {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;
}