<div class="body-container" [ngClass]="styleClass">
    <div class="body-title">
        <div class="title-left">
            <b>{{ body.bodyData.name }}</b>
            <span *ngIf="body.bodyData.subType">-</span>
            <span *ngIf="body.bodyData.subType" [matTooltip]="getSolidCompositionTooltip()"
                matTooltipClass="multiline-tooltip">{{ body.bodyData.subType }}</span>
            <span *ngIf="classifyNeutronStar()"
                [class]="classifyNeutronStar()!.classification === 'Anomalous' ? 'badge badge-red' : 'neutron-star-classification'"
                [matTooltip]="classifyNeutronStar()!.tooltip">{{ classifyNeutronStar()!.classification === 'Anomalous' ?
                classifyNeutronStar()!.classification : '- ' + classifyNeutronStar()!.classification }}</span>
            <span *ngIf="body.bodyData.atmosphereType || body.bodyData.atmosphereComposition"
                [matTooltip]="getAtmosphereCompositionTooltip()" matTooltipClass="multiline-tooltip"
                class="atmosphere-type">
                - {{ getAtmosphereDisplay() }}
            </span>
            <span *ngIf="isRingNotVisible()" class="badge badge-red clickable" (click)="showInvisibleRingExplanation()">Invisible</span>
            <span *ngIf="getHillLimitExceeded()" class="badge badge-red clickable"
                [matTooltip]="'Hill limit exceeded by ' + (getHillLimitExceeded()! | number:'0.0-0') + ' km'"
                (click)="showHillLimitExplanation()">Anomalous</span>
            <span *ngIf="body.bodyData.isLandable" [class]="'badge ' + getLandableBadgeClass()"
                [matTooltip]="getLandableTooltip()">
                <img src="assets/icons/footprint.svg" style="width: 12px; height: 12px; filter: brightness(0);" />
            </span>
            <span *ngIf="getSpinResonance() !== 'none' || body.bodyData.rotationalPeriodTidallyLocked"
                class="badge badge-purple" [matTooltip]="getSpinResonanceTooltip()">
                <span *ngIf="getSpinResonance() !== 'none'">{{ getSpinResonance() }}</span><fa-icon
                    *ngIf="body.bodyData.rotationalPeriodTidallyLocked" [icon]="faLock" class="lock-icon"></fa-icon>
            </span>
            <span
                *ngIf="body.bodyData.isLandable &&  body.bodyData.atmosphereType && body.bodyData.atmosphereType != ''"
                class="badge badge-blue">Odyssey</span>
            <span *ngIf="body.bodyData.terraformingState == 'Terraformable'"
                class="badge badge-gray">Terraformable</span>
            <span *ngIf="trojanStatus" class="badge badge-blue" [matTooltip]="'Trojan at Lagrange ' + trojanStatus">{{
                trojanStatus }}</span>
            <span *ngIf="rosetteStatus" class="badge badge-red" [matTooltip]="'Klemperer ' + rosetteStatus">{{
                rosetteStatus }}</span>
            <span *ngIf="getMultiBodySystemBadge()" class="badge badge-orange"
                [matTooltip]="getMultiBodySystemBadge()!.count + ' bodies: ' + getMultiBodySystemBadge()!.label">{{
                getMultiBodySystemBadge()!.label }}</span>
            <span *ngIf="getRocheExcess()" class="badge badge-red"
                [matTooltip]="'Roche limit exceeded by ' + (getRocheExcess()! | number:'0.0-0') + ' km'">
                <img src="assets/icons/roche.svg" style="width: 12px; height: 12px; filter: brightness(0);" />
            </span>
            <div *ngIf="geologySignals.length || geologySignalCount" matTooltip="Geological signals">
                <img src="assets/icons/Geology.png" />
            </div>
            <div *ngIf="biologySignals.length || biologySignalCount" matTooltip="Biological signals">
                <img src="assets/icons/Biology.png" />
            </div>
            <div *ngIf="thargoidSignals.length || thargoidSignalCount" matTooltip="Thargoid signals">
                <img src="assets/icons/Thargoid.png" />
            </div>
            <div *ngIf="guardianSignals.length || guardianSignalCount" matTooltip="Guardian signals">
                <img src="assets/icons/Guardian.png" />
            </div>
            <div *ngIf="exandable && !expanded" (click)="toggleExpand()" class="clickable" matTooltip="Expand">
                <fa-icon [icon]="faSquareCaretDown"></fa-icon>
            </div>
            <div *ngIf="exandable && expanded" (click)="toggleExpand()" class="clickable" matTooltip="Collapse">
                <fa-icon [icon]="faSquareCaretUp"></fa-icon>
            </div>
            <div *ngIf="hasChildren() && getChildrenExpandedState()" (click)="toggleChildren()" class="clickable"
                matTooltip="Collapse all children">
                <fa-icon [icon]="faSquareCaretUp"></fa-icon>
            </div>
            <div *ngIf="hasChildren() && !getChildrenExpandedState()" (click)="toggleChildren()" class="clickable"
                matTooltip="Expand all children">
                <fa-icon [icon]="faSquareCaretDown"></fa-icon>
            </div>
        </div>
        <div class="materials-badges" (mouseleave)="hoveredIndex = -1">
            <span *ngFor="let material of getMaterialBadges(); let i = index" [class]="'badge ' + material.class"
                (mouseenter)="onMouseEnter(i)">{{ hoveredIndex === i ? material.tooltip : material.name }}</span>
            <button class="json-button" (click)="copyBodyJson()" matTooltip="Copy body JSON to clipboard">
                <fa-icon [icon]="faCode"></fa-icon>
            </button>
        </div>
    </div>
    <div class="system-body" *ngIf="isExpanded" [@grow]>
        <div class="body-image">
            <img *ngIf="bodyCoronaImage" src="assets/{{ bodyCoronaImage }}" class="body-image-corona"
                (error)="bodyCoronaImage = ''" loading="lazy" />
            <img *ngIf="bodyImage" src="assets/{{ bodyImage }}" (error)="bodyImage = ''" loading="lazy" />
        </div>
        <div class="body-content">
            <div class="body-data">
                <div *ngIf="body.bodyData.orbitalPeriod" class="body-data-entry">
                    <div>
                        Orbital period
                    </div>
                    <div [matTooltip]="body.bodyData.orbitalPeriod + ' days'">
                        {{ body.bodyData.orbitalPeriod | number:'0.2-2' }} days
                    </div>
                </div>
                <div *ngIf="body.bodyData.semiMajorAxis" class="body-data-entry">
                    <div>
                        Semi-major axis
                    </div>
                    <div [matTooltip]="body.bodyData.semiMajorAxis + ' au'">
                        {{ (body.bodyData.semiMajorAxis * 149597870.7) | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.semiMajorAxis && body.bodyData.orbitalEccentricity !== undefined && body.bodyData.orbitalEccentricity !== null && body.bodyData.orbitalEccentricity !== 0"
                    class="body-data-entry">
                    <div>
                        Apoapsis
                    </div>
                    <div [matTooltip]="getApoapsis() + ' km'">
                        {{ getApoapsis() | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.semiMajorAxis && body.bodyData.orbitalEccentricity !== undefined && body.bodyData.orbitalEccentricity !== null && body.bodyData.orbitalEccentricity !== 0"
                    class="body-data-entry">
                    <div>
                        Periapsis
                    </div>
                    <div [matTooltip]="getPeriapsis() + ' km'">
                        {{ getPeriapsis() | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.orbitalEccentricity !== undefined && body.bodyData.orbitalEccentricity !== null"
                    class="body-data-entry">
                    <div>
                        Orbital eccentricity
                    </div>
                    <div [matTooltip]="body.bodyData.orbitalEccentricity.toString()">
                        {{ body.bodyData.orbitalEccentricity | number:'0.4-4' }} {{
                        getEccentricityAnalysis(body.bodyData.orbitalEccentricity) }}
                    </div>
                </div>
                <div *ngIf="body.bodyData.orbitalInclination" class="body-data-entry">
                    <div>
                        Orbital inclination
                    </div>
                    <div [matTooltip]="body.bodyData.orbitalInclination + '°'">
                        {{ body.bodyData.orbitalInclination | number:'0.2-2' }}°
                    </div>
                </div>
                <div *ngIf="body.bodyData.argOfPeriapsis" class="body-data-entry">
                    <div>
                        Argument of periapsis
                    </div>
                    <div [matTooltip]="body.bodyData.argOfPeriapsis + '°'">
                        {{ body.bodyData.argOfPeriapsis | number:'0.2-2' }}°
                    </div>
                </div>
                <div *ngIf="getNextPeriapsis()" class="body-data-entry">
                    <div>
                        Next periapsis
                    </div>
                    <div>
                        {{ getNextPeriapsis()!.date | date:'yyyy-MM-dd HH:mm' }} ({{ getNextPeriapsis()!.days |
                        number:'0.1-1' }} days)
                    </div>
                </div>
                <div *ngIf="getNextApoapsis()" class="body-data-entry">
                    <div>
                        Next apoapsis
                    </div>
                    <div>
                        {{ getNextApoapsis()!.date | date:'yyyy-MM-dd HH:mm' }} ({{ getNextApoapsis()!.days |
                        number:'0.1-1' }} days)
                    </div>
                </div>
                <div *ngIf="body.bodyData.ascendingNode" class="body-data-entry">
                    <div>
                        Ascending node
                    </div>
                    <div [matTooltip]="body.bodyData.ascendingNode + '°'">
                        {{ body.bodyData.ascendingNode | number:'0.2-2' }}°
                    </div>
                </div>
                <div *ngIf="body.bodyData.axialTilt" class="body-data-entry">
                    <div>
                        Axial tilt
                    </div>
                    <div [matTooltip]="body.bodyData.axialTilt + '°'">
                        {{ body.bodyData.axialTilt | number:'0.2-2' }}°
                    </div>
                </div>
                <div *ngIf="body.bodyData.distanceToArrival" class="body-data-entry">
                    <div>
                        Distance to arrival
                    </div>
                    <div [matTooltip]="body.bodyData.distanceToArrival + ' ls'">
                        {{ body.bodyData.distanceToArrival | number:'0.2-2' }} ls
                    </div>
                </div>
                <div *ngIf="body.bodyData.rotationalPeriod" class="body-data-entry">
                    <div>
                        Rotational period
                    </div>
                    <div [matTooltip]="body.bodyData.rotationalPeriod + ' days'">
                        {{ body.bodyData.rotationalPeriod | number:'0.2-2' }} days
                    </div>
                </div>
                <div *ngIf="getTangentialVelocity() !== null" class="body-data-entry">
                    <div>
                        Tangential velocity
                    </div>
                    <div [matTooltip]="getTangentialVelocityTooltip()">
                        {{ getTangentialVelocityDisplay() }}
                    </div>
                </div>
                <div *ngIf="getJetConeAngle() !== null" class="body-data-entry">
                    <div>
                        Jet cone half angle
                    </div>
                    <div matTooltip="Estimate">
                        {{ getJetConeAngle() | number:'0.2-2' }}°
                    </div>
                </div>

                <div *ngIf="body.bodyData.surfacePressure" class="body-data-entry">
                    <div>
                        Surface pressure
                    </div>
                    <div [matTooltip]="body.bodyData.surfacePressure + ' atmospheres'">
                        {{ body.bodyData.surfacePressure | number:'0.2-2' }} atmospheres
                    </div>
                </div>
                <div *ngIf="body.bodyData.gravity" class="body-data-entry">
                    <div>
                        Gravity
                    </div>
                    <div [matTooltip]="body.bodyData.gravity + ' G'">
                        {{ body.bodyData.gravity | number:'0.2-2' }} G
                    </div>
                </div>
                <div *ngIf="body.bodyData.radius" class="body-data-entry">
                    <div>
                        Radius
                    </div>
                    <div [matTooltip]="body.bodyData.radius + ' km'">
                        {{ body.bodyData.radius | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.age" class="body-data-entry">
                    <div>
                        Age
                    </div>
                    <div>
                        {{ body.bodyData.age }} million years
                    </div>
                </div>
                <div *ngIf="body.bodyData.solarMasses" class="body-data-entry">
                    <div>
                        Solar masses
                    </div>
                    <div [matTooltip]="body.bodyData.solarMasses.toString()">
                        {{ body.bodyData.solarMasses | number:'0.2-2' }}
                    </div>
                </div>
                <div *ngIf="body.bodyData.solarRadius" class="body-data-entry">
                    <div>
                        Solar radius
                    </div>
                    <div [matTooltip]="body.bodyData.solarRadius.toString()">
                        {{ body.bodyData.solarRadius | number:'0.2-2' }}
                    </div>
                </div>
                <div *ngIf="body.bodyData.surfaceTemperature" class="body-data-entry">
                    <div>
                        Surface temperature
                    </div>
                    <div [matTooltip]="body.bodyData.surfaceTemperature + ' K'">
                        {{ body.bodyData.surfaceTemperature | number:'0.2-2' }} K
                    </div>
                </div>
                <div *ngIf="body.bodyData.volcanismType" class="body-data-entry">
                    <div>
                        Volcanism
                    </div>
                    <div>
                        {{ body.bodyData.volcanismType }}
                    </div>
                </div>
                <div *ngIf="body.bodyData.innerRadius" class="body-data-entry">
                    <div>
                        Inner radius
                    </div>
                    <div [matTooltip]="body.bodyData.innerRadius + ' km'">
                        {{ body.bodyData.innerRadius | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.outerRadius" class="body-data-entry">
                    <div>
                        Outer radius
                    </div>
                    <div [matTooltip]="body.bodyData.outerRadius + ' km'">
                        {{ body.bodyData.outerRadius | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.mass" class="body-data-entry">
                    <div>
                        Mass
                    </div>
                    <div [matTooltip]="body.bodyData.mass + ' Mt'">
                        {{ body.bodyData.mass | number:'0.2-2' }} Mt
                    </div>
                </div>
                <div *ngIf="body.bodyData.innerRadius && body.bodyData.outerRadius" class="body-data-entry">
                    <div>
                        Ring width
                    </div>
                    <div [matTooltip]="getRingWidth() + ' km'">
                        {{ getRingWidth() | number:'0.2-2' }} km
                    </div>
                </div>
                <div *ngIf="body.bodyData.innerRadius && body.bodyData.outerRadius" class="body-data-entry">
                    <div>
                        Ring area
                    </div>
                    <div [matTooltip]="getRingArea() + ' km²'">
                        {{ getRingArea() | number:'0.2-2' }} km²
                    </div>
                </div>
                <div *ngIf="body.bodyData.mass && body.bodyData.innerRadius && body.bodyData.outerRadius"
                    class="body-data-entry">
                    <div>
                        Density
                    </div>
                    <div [matTooltip]="getRingDensity() + ' Mt/km²'">
                        {{ getRingDensity() | number:'0.2-2' }} Mt/km²
                    </div>
                </div>
                <div *ngIf="body.bodyData.type === 'Ring' && calculateHillLimit() !== null"
                    class="body-data-entry clickable" (click)="showHillLimitExplanation()">
                    <div>
                        Hill limit
                    </div>
                    <div [matTooltip]="calculateHillLimit()! + ' km'">
                        {{ calculateHillLimit()! | number:'0.2-2' }} km
                    </div>
                </div>
            </div>
            <!--
            <div *ngIf="body.bodyData.parents && body.bodyData.parents.length">
                <div *ngFor="let parent of body.bodyData.parents; index as i"
                    style="font-style: italic; font-size: 80%;">
                    Parent {{ i }}:
                    <span *ngIf="parent.Null != undefined">Barycentre: {{ parent.Null }}</span>
                    <span *ngIf="parent.Planet != undefined">Planet: {{ parent.Planet }}</span>
                    <span *ngIf="parent.Star != undefined">Star: {{ parent.Star }}</span>
                </div>
            </div> 
            -->
            <div *ngIf="hasSignals" class="body-signals">
                <hr>
                <b>Signals</b>
                <div *ngIf="humanSignalCount" class="body-signal">
                    <div class="body-signal-name">
                        <img src="assets/icons/Human.png" />
                        <span>
                            Human: {{ humanSignalCount }}
                        </span>
                    </div>
                </div>
                <div *ngIf="otherSignalCount" class="body-signal">
                    <div class="body-signal-name">
                        <img src="assets/icons/Other.png" />
                        <span>
                            Other: {{ otherSignalCount }}
                        </span>
                    </div>
                </div>
                <div *ngIf="geologySignals.length || geologySignalCount" class="body-signal">
                    <div class="body-signal-name">
                        <img src="assets/icons/Geology.png" />
                        <span>
                            Geology: {{ geologySignalCount }}
                        </span>
                    </div>
                    <ng-container *ngIf="geologySignals.length">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                        <div>
                            <div *ngFor="let geologySignal of geologySignals" class="body-signal-data">
                                {{ geologySignal }}
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="biologySignals.length || biologySignalCount" class="body-signal">
                    <div class="body-signal-name">
                        <img src="assets/icons/Biology.png" />
                        <span>
                            Biology: {{ biologySignalCount }}
                        </span>
                    </div>
                    <ng-container *ngIf="biologySignals.length">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                        <div>
                            <div *ngFor="let biologySignal of biologySignals" class="body-signal-data">
                                <div>
                                    <fa-icon *ngIf="biologySignal.isGuess" [icon]="faCircleQuestion"
                                        matTooltip="Guess"></fa-icon>
                                    <span *ngIf="!biologySignal.entryId">
                                        {{ biologySignal.signal }}</span>
                                    <span *ngIf="biologySignal.entryId">
                                        <a
                                            href="https://canonn-science.github.io/bioforge/?entryid={{ biologySignal.signal }}">
                                            {{ biologySignal.signal }}
                                        </a>
                                        <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                                    </span>
                                </div>
                                <span *ngIf="biologySignal.codex?.reward">{{ biologySignal.codex?.reward | number }}
                                    cr</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="thargoidSignals.length || thargoidSignalCount" class="body-signal">
                    <div class="body-signal-name">
                        <img src="assets/icons/Thargoid.png" />
                        <span>
                            Thargoid: {{ thargoidSignalCount }}
                        </span>
                    </div>
                    <ng-container *ngIf="thargoidSignals.length">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                        <div>
                            <div *ngFor="let thargoidSignal of thargoidSignals" class="body-signal-data">
                                {{ thargoidSignal }}
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="guardianSignals.length || guardianSignalCount" class="body-signal">
                    <div class="body-signal-name">
                        <img src="assets/icons/Guardian.png" />
                        <span>
                            Guardian: {{ guardianSignalCount }}
                        </span>
                    </div>
                    <ng-container *ngIf="guardianSignals.length">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                        <div>
                            <div *ngFor="let guardianSignal of guardianSignals" class="body-signal-data">
                                {{ guardianSignal }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="system-body-end"></div>
    <div class="child-bodies">
        <app-system-body *ngFor="let body of body.subBodies; last as isLast" [body]="body" [isLast]="isLast"
            [forceExpanded]="forceExpanded"></app-system-body>
    </div>
</div>

<ng-template #hillLimitDialogTemplate>
    <div class="hill-limit-dialog">
        <h2 mat-dialog-title>Hill Sphere Calculation</h2>
        <mat-dialog-content>
            <p class="intro">
                The Hill sphere represents the region around a moon or planet where its gravity is dominant over the parent star's gravity. This calculation determines how far a ring system can extend before the star's gravity would tear it apart.
            </p>

            <div class="formula">
                <strong>Formula:</strong> Hill Limit = a × (m / (3 × M))<sup>1/3</sup>
            </div>

            <div class="parameters">
                <p><strong>Where:</strong></p>
                <ul>
                    <li><strong>a</strong> = parent body's semi-major axis (orbital distance from star)</li>
                    <li><strong>m</strong> = parent body's mass</li>
                    <li><strong>M</strong> = primary star's mass</li>
                </ul>
            </div>

            <div class="values" *ngIf="hillLimitDialogData">
                <p><strong>Values used:</strong></p>
                <ul>
                    <li><strong>Parent body:</strong> {{ hillLimitDialogData.parentBodyName }}</li>
                    <li><strong>Parent semi-major axis (a):</strong> {{ hillLimitDialogData.semiMajorAxis.toFixed(6) }} AU ({{ hillLimitDialogData.semiMajorAxisKm.toLocaleString() }} km)</li>
                    <li><strong>Parent mass (m):</strong> {{ hillLimitDialogData.parentMass.toFixed(6) }} {{ hillLimitDialogData.isEarthMasses ? 'Earth masses' : 'Solar masses' }}</li>
                    <li><strong>Primary star:</strong> {{ hillLimitDialogData.primaryStarName }}</li>
                    <li><strong>Primary mass (M):</strong> {{ hillLimitDialogData.primaryMass.toFixed(6) }} Solar masses</li>
                    <li><strong>Mass ratio (m / 3M):</strong> {{ hillLimitDialogData.massRatio.toFixed(6) }}</li>
                </ul>
            </div>

            <div class="result" *ngIf="hillLimitDialogData">
                <p><strong>Result:</strong></p>
                <ul>
                    <li><strong>Hill limit:</strong> {{ hillLimitDialogData.hillLimit.toLocaleString() }} km</li>
                    <li><strong>Ring outer radius:</strong> {{ hillLimitDialogData.outerRadius.toLocaleString() }} km</li>
                    <li *ngIf="hillLimitDialogData.isExceeded"><strong>Exceeded by:</strong> {{ hillLimitDialogData.difference.toLocaleString() }} km</li>
                    <li *ngIf="!hillLimitDialogData.isExceeded"><strong>Margin:</strong> {{ hillLimitDialogData.difference.toLocaleString() }} km</li>
                </ul>
            </div>

            <p class="conclusion" *ngIf="hillLimitDialogData?.isExceeded">
                This ring configuration is anomalous because the outer edge extends beyond the Hill sphere, where the ring material would be gravitationally unstable and likely couldn't exist in reality.
            </p>
            <p class="conclusion-safe" *ngIf="hillLimitDialogData && !hillLimitDialogData.isExceeded">
                This ring is well within the Hill sphere and is gravitationally stable.
            </p>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
    </div>
</ng-template>

<ng-template #invisibleRingDialogTemplate>
    <div class="invisible-ring-dialog">
        <h2 mat-dialog-title>Invisible Ring Explanation</h2>
        <mat-dialog-content>
            <p class="intro">
                The "Invisible" badge indicates that this ring may not be visible in-game due to extremely low density. This calculation is based on data collected in the Canonn Ring survey.
            </p>

            <div class="warning">
                <strong>Note:</strong> There may be some inaccuracies in this determination due to loss of precision in the database compared to ship logs. The values stored in the database may have been rounded or truncated during data collection.
            </div>

            <div class="formula">
                <strong>Calculation:</strong>
            </div>

            <div class="parameters">
                <p>A ring is considered potentially invisible when:</p>
                <ul>
                    <li><strong>Density</strong> &lt; 0.1 Mt/km²</li>
                    <li><strong>AND</strong></li>
                    <li><strong>Ring width</strong> &gt; 1,000,000 km</li>
                </ul>
            </div>

            <div class="values" *ngIf="invisibleRingDialogData">
                <p><strong>Values for this ring:</strong></p>
                <ul>
                    <li><strong>Ring name:</strong> {{ invisibleRingDialogData.ringName }}</li>
                    <li><strong>Inner radius:</strong> {{ invisibleRingDialogData.innerRadius.toLocaleString() }} km</li>
                    <li><strong>Outer radius:</strong> {{ invisibleRingDialogData.outerRadius.toLocaleString() }} km</li>
                    <li><strong>Ring width:</strong> {{ invisibleRingDialogData.width.toLocaleString() }} km</li>
                    <li><strong>Ring area:</strong> {{ invisibleRingDialogData.area.toLocaleString() }} km²</li>
                    <li><strong>Ring mass:</strong> {{ invisibleRingDialogData.mass.toLocaleString() }} Mt</li>
                    <li><strong>Density:</strong> {{ invisibleRingDialogData.density.toFixed(6) }} Mt/km²</li>
                </ul>
            </div>

            <div class="result" *ngIf="invisibleRingDialogData">
                <p><strong>Analysis:</strong></p>
                <p *ngIf="invisibleRingDialogData.isInvisible" class="conclusion">
                    This ring meets both criteria (density &lt; 0.1 Mt/km² and width &gt; 1,000,000 km) and is likely invisible in-game. The extremely low density means there is insufficient material to scatter light and create a visible ring structure.
                </p>
                <p *ngIf="!invisibleRingDialogData.isInvisible" class="conclusion-safe">
                    This ring does not meet the invisibility criteria and should be visible in-game.
                </p>
            </div>

            <p class="disclaimer">
                <strong>Disclaimer:</strong> Ring visibility in Elite Dangerous depends on multiple factors including camera position, lighting conditions, and game rendering settings. This calculation provides only an estimate based on density and size.
            </p>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
    </div>
</ng-template>