.on-foot-safety-dialog {
    line-height: 1.6;

    .intro,
    .explanation {
        margin-bottom: 16px;
    }

    ul {
        margin: 0 0 16px;
        padding-left: 24px;
    }

    li {
        margin-bottom: 4px;
    }
}
