// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import 'material-icons/iconfont/material-icons.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$orange-palette),
        accent: mat.define-palette(mat.$amber-palette),
        warn: mat.define-palette(mat.$red-palette),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dark-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

a,
.link {
  color: #fbd7b4;
}

.child-bodies {
  padding-left: 104px;
}

.body-container {
  position: relative;
}

.child-container-default::after,
.child-container-barycentre::after {
  position: absolute;
  content: " ";
  border-left: 4px solid #fbd7b4;
  height: 100%;
  width: 0px;
  top: 0px;
  left: -56px;
}

.child-container-default::before {
  position: absolute;
  content: " ";
  height: 0px;
  width: 56px;
  top: 89px;
  left: -56px;
  border-bottom: 4px solid #fbd7b4;
}

.child-container-barycentre::before {
  position: absolute;
  content: " ";
  height: 0px;
  width: 56px;
  top: 18px;
  left: -56px;
  border-bottom: 4px solid #fbd7b4;
}

.child-container-last::after {
  position: absolute;
  content: " ";
  border-left: 4px solid #fbd7b4;
  top: 0px;
  left: -56px;
  height: 89px;
  border-bottom: 4px solid #fbd7b4;
  width: 52px;
  border-radius: 0px 0px 0px 4px;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}